
DotNet/1.Fundamentos/obj/project.assets.json
DotNet/1.Fundamentos/1.Fundamentos.sln
DotNet/1.Fundamentos/bin/Debug/net8.0/1.Fundamentos.deps.json
DotNet/1.Fundamentos/bin/Debug/net8.0/1.Fundamentos.dll
DotNet/1.Fundamentos/bin/Debug/net8.0/1.Fundamentos.exe
DotNet/1.Fundamentos/bin/Debug/net8.0/1.Fundamentos.pdb
DotNet/1.Fundamentos/bin/Debug/net8.0/1.Fundamentos.runtimeconfig.json
DotNet/1.Fundamentos/obj/1.Fundamentos.csproj.nuget.dgspec.json
DotNet/1.Fundamentos/obj/1.Fundamentos.csproj.nuget.g.props
DotNet/1.Fundamentos/obj/1.Fundamentos.csproj.nuget.g.targets
DotNet/1.Fundamentos/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.AssemblyInfo.cs
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.AssemblyInfoInputs.cache
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.assets.cache
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.csproj.CoreCompileInputs.cache
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.csproj.FileListAbsolute.txt
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.dll
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.GeneratedMSBuildEditorConfig.editorconfig
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.genruntimeconfig.cache
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.GlobalUsings.g.cs
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.pdb
DotNet/1.Fundamentos/obj/Debug/net8.0/1.Fundamentos.sourcelink.json
DotNet/1.Fundamentos/obj/Debug/net8.0/apphost.exe
DotNet/1.Fundamentos/obj/Debug/net8.0/ref/1.Fundamentos.dll
DotNet/1.Fundamentos/obj/Debug/net8.0/refint/1.Fundamentos.dll
DotNet/1.Fundamentos/obj/project.nuget.cache
DotNet/2.Classes/2.Classes.sln
DotNet/2.Classes/bin/Debug/net8.0/2.Classes.deps.json
DotNet/2.Classes/bin/Debug/net8.0/2.Classes.dll
DotNet/2.Classes/bin/Debug/net8.0/2.Classes.exe
DotNet/2.Classes/bin/Debug/net8.0/2.Classes.pdb
DotNet/2.Classes/bin/Debug/net8.0/2.Classes.runtimeconfig.json
DotNet/2.Classes/obj/2.Classes.csproj.nuget.dgspec.json
DotNet/2.Classes/obj/2.Classes.csproj.nuget.g.props
DotNet/2.Classes/obj/2.Classes.csproj.nuget.g.targets
DotNet/2.Classes/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.AssemblyInfo.cs
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.AssemblyInfoInputs.cache
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.assets.cache
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.csproj.CoreCompileInputs.cache
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.csproj.FileListAbsolute.txt
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.dll
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.GeneratedMSBuildEditorConfig.editorconfig
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.genruntimeconfig.cache
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.GlobalUsings.g.cs
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.pdb
DotNet/2.Classes/obj/Debug/net8.0/2.Classes.sourcelink.json
DotNet/2.Classes/obj/Debug/net8.0/apphost.exe
DotNet/2.Classes/obj/Debug/net8.0/ref/2.Classes.dll
DotNet/2.Classes/obj/Debug/net8.0/refint/2.Classes.dll
DotNet/2.Classes/obj/project.assets.json
DotNet/2.Classes/obj/project.nuget.cache
DotNet/3.TiposDadods/3.TiposDadods.sln
DotNet/3.TiposDadods/bin/Debug/net8.0/3.TiposDadods.deps.json
DotNet/3.TiposDadods/bin/Debug/net8.0/3.TiposDadods.dll
DotNet/3.TiposDadods/bin/Debug/net8.0/3.TiposDadods.exe
DotNet/3.TiposDadods/bin/Debug/net8.0/3.TiposDadods.pdb
DotNet/3.TiposDadods/bin/Debug/net8.0/3.TiposDadods.runtimeconfig.json
DotNet/3.TiposDadods/obj/3.TiposDadods.csproj.nuget.dgspec.json
DotNet/3.TiposDadods/obj/3.TiposDadods.csproj.nuget.g.props
DotNet/3.TiposDadods/obj/3.TiposDadods.csproj.nuget.g.targets
DotNet/3.TiposDadods/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.AssemblyInfo.cs
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.AssemblyInfoInputs.cache
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.assets.cache
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.csproj.CoreCompileInputs.cache
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.csproj.FileListAbsolute.txt
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.dll
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.GeneratedMSBuildEditorConfig.editorconfig
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.genruntimeconfig.cache
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.GlobalUsings.g.cs
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.pdb
DotNet/3.TiposDadods/obj/Debug/net8.0/3.TiposDadods.sourcelink.json
DotNet/3.TiposDadods/obj/Debug/net8.0/apphost.exe
DotNet/3.TiposDadods/obj/Debug/net8.0/ref/3.TiposDadods.dll
DotNet/3.TiposDadods/obj/Debug/net8.0/refint/3.TiposDadods.dll
DotNet/3.TiposDadods/obj/project.assets.json
DotNet/3.TiposDadods/obj/project.nuget.cache
DotNet/3.TiposDadodos/Datas/Datas.sln
DotNet/3.TiposDadodos/Datas/obj/Datas.csproj.nuget.dgspec.json
DotNet/3.TiposDadodos/Datas/obj/Datas.csproj.nuget.g.props
DotNet/3.TiposDadodos/Datas/obj/Datas.csproj.nuget.g.targets
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/apphost.exe
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.AssemblyInfo.cs
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.AssemblyInfoInputs.cache
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.assets.cache
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.csproj.CoreCompileInputs.cache
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.csproj.FileListAbsolute.txt
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.dll
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.GeneratedMSBuildEditorConfig.editorconfig
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.genruntimeconfig.cache
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.GlobalUsings.g.cs
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.pdb
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/Datas.sourcelink.json
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/ref/Datas.dll
DotNet/3.TiposDadodos/Datas/obj/Debug/net8.0/refint/Datas.dll
DotNet/3.TiposDadodos/Datas/obj/project.assets.json
DotNet/3.TiposDadodos/Datas/obj/project.nuget.cache
*.sln
*.props
*.targets
*.cache
*.json
*.exe
*.pdb
*.dll
*.editorconfig
*.txt
