div{
    width: 300px;
    height: 300px;
}
#objeto1{
    background-color: rgb(136, 127, 255);
    margin: 20px;
    border: 4px;
    padding: 10px;
    box-sizing:content-box;
}
#objeto2{
    background-color: paleturquoise;
    margin: 20px;
    border: 4px;
    padding: 10px;
    box-sizing:border-box;
}