@font-face {
    font-family: "Fira Code";
    src: url("/Assets/FiraCode-Regular.ttf");
}
@font-face {
    font-family: "Fira Code";
    src: url("/Assets/FiraCode-Bold.ttf");
    font-weight: bold;
}
* {
    font-family: "Fira Code";
}
